!!!
html
  head
    title Orgnz.it
    link(rel="stylesheet", type="text/css", href="/css/orgnzit.css")

  body
    h1 User list :

    script
      var docs = function(row){
        console.log(row);
      }
