!!!
html
	head
		title Orgnz.it
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
		script(src="../../socket.io/socket.io.js")
		script(src="../js/orgnzit.js")
		script(src="../js/socket.js")
		style
			#testable{
				font-size:2em;
				cursor:pointer;
				border:2px solid #000;
				margin-top:20px;
			}
			#testable td{
				padding:20px;
			}
			#testable td.locked{
				background:#ededed;
			}
			#testable td.locked.mine{
				background:#aaa;
			}
	body
		table#testable
			tr
				td#11 1
				td#12 2
				td#13 3
			tr
				td#21 1
				td#22 2
				td#23 3
				
		script
			$("#testable td").each(function(){
				orgnzit.unlock($(this).attr("id"));
			})