!!!
html
	head
		title Orgnz.it
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
		script(src="../../socket.io/socket.io.js")
		script(src="../../js/orgnzit.js")
		script(src="../../js/socket.js")
		link(rel="stylesheet", type="text/css", href="/css/orgnzit.css")
	
	body
		div#doc
			div#cols
			div#rows
		
		style
			a{
				color:#003399;
				margin-right:20px;
				margin-top:20px;
				cursor:pointer;
			}
		//a#addRow Add Row
		//a#addCol Add Col
		
		script
			var set_doc = function(data){
				orgnzit.doc = data;
				orgnzit.UI.init(function(){
					$(".cell").each(function(){
						orgnzit.UI.unlock($(this).attr("id"));
					});
				});
			}
			$.ajax({
				type:"GET",
				url: "/doc/#{id}/json",
				success: set_doc
			});
