!!!
html
  head
    title Orgnz.it
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    link(rel="stylesheet", type="text/css", href="/css/orgnzit.css")

  body
    h1 Users list :
    
    #global_menu
      ul
        li 
          a(href="/docs") Documents List
        li
          a(href="/doc") New Document
        li Users List

    #users_list

    !='<script>'
    !='var users = ' + JSON.stringify(users)
    !='</script>'

    script
      out = '';
      out += '<ul>';
      $.each(users, function(userNum, user) {
        out += '<li>';
        out += user.name;
        out += '</li>';
      });
      out += '</ul>';
      $('#users_list').html(out);