!!!
html
 head
   title Orgnz.it
   script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
   link(rel="stylesheet", type="text/css", href="/css/orgnzit.css")


 body
   h1 User Names Generated !
   