body{
	@default_width:100px;
	@padding:5px;
	
	#doc{
		font-size:1.2em;
		border:1px solid #000;
		overflow:hidden;
		padding:@padding;
		#cols{
			float:left;
			.col{
				float:left;
				width:@default_width;
				padding:@padding;
				margin:2px;
			}
		}
		#rows{
			float:left;
			clear:left;
			.row{
				float:left;
				clear:left;
				.cell{
					float: left;
					width: @default_width;
					border: 1px solid #aaa;
					padding:@padding;
					margin:2px;
					font-size:1em;
					height:1em;
				}
			}
		}
		.locked{
			background: #ededed;
		}
		.mine{
			background: #aaa;
		}
		textarea{
			position:fixed;
			width:400px;
			height:60px;
			border:1px solid #000;
			-webkit-box-shadow:2px 2px 5px #000;
		}
	}
}