body #doc {
  font-size: 1.2em;
  border: 1px solid #000;
  overflow: hidden;
  padding: 5px;
}
body #doc #cols {
  float: left;
}
body #doc #cols .col {
  float: left;
  width: 100px;
  padding: 5px;
  margin: 2px;
}
body #doc #rows {
  float: left;
  clear: left;
}
body #doc #rows .row {
  float: left;
  clear: left;
}
body #doc #rows .row .cell {
  float: left;
  width: 100px;
  border: 1px solid #aaa;
  padding: 5px;
  margin: 2px;
  font-size: 1em;
  height: 1em;
  overflow: hidden;
}
body #doc .locked {
  background: #ededed;
}
body #doc .mine {
  background: #aaa;
}
body #doc textarea {
  position: fixed;
  width: 400px;
  height: 60px;
  border: 1px solid #000;
  -webkit-box-shadow: 2px 2px 5px #000;
}
