body {
  font-family: arial;
}
body #doc {
  font-size: 1.2em;
  overflow: hidden;
  clear: left;
}
body #doc #cols {
  float: left;
}
body #doc #cols .col {
  background: #e3e9ff;
  float: left;
  width: 100px;
  padding: 5px;
  margin: 2px;
  overflow: hidden;
  height: 1em;
  border: 1px solid #e3e9ff;
}
body #doc #cols .col.locked {
  background: #ededed;
}
body #doc #cols .col.mine {
  background: #aaaaaa;
}
body #doc #rows {
  float: left;
  clear: left;
}
body #doc #rows .row {
  float: left;
  clear: left;
}
body #doc #rows .row .cell {
  float: left;
  width: 100px;
  border: 1px solid #aaa;
  padding: 5px;
  margin: 2px;
  font-size: 1em;
  height: 1em;
  overflow: hidden;
}
body #doc .locked {
  background: #ededed;
}
body #doc .mine {
  background: #aaa;
}
body #doc textarea {
  position: fixed;
  width: 400px;
  height: 60px;
  border: 1px solid #000;
  -webkit-box-shadow: 2px 2px 5px #000;
  opacity: 0.9;
  font-size: 1em;
}
body #menu {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  float: left;
  font-size: 1.2em;
}
body #menu a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  text-shadow: 1px 1px #aaa;
}
