#cols {

  .col {
    background: #e3e9ff;
    float: left;
    width: 100px;
    padding: 5px;
    margin: 2px;
    overflow: hidden;
    height: 1em;
    border: 1px solid #e3e9ff;
  }

  .col.locked {
    background: #ededed;
  }

  .col.mine {
    background: #aaaaaa;
  }
  .delete_col {
    position: relative;
    cursor: pointer;
  }
  .container {
    clear: none;
    float: left;
  }
}