#rows {

  .row {
    float: left;
  }
  .row .cell {
    float: left;
    width: 100px;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 2px;
    font-size: 1em;
    height: 1em;
    overflow: hidden;
  }
  .container {
    float: left;
    clear: left;
  }
  .delete_row {
    float: left;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 10px;
    color: #aaa;
  }
  .toggle_msg {
    float: left;
    cursor: pointer;
  }
  .toggle_msg img {
    width: 30px;
    margin-top: 2px;
  }
  .messages {
    float: left;
    clear: left;
    width: 100%;
    min-height: 60px;
    border: 1px dashed #aaa;
    display: none;
    margin-left: 2px;
    margin-bottom: 20px;
    padding: 5px;
  }
  .messages .add_message img {
    float: right;
    width: 30px;
  }
  .messages.show {
    display: block;
  }
}
