#page-sidebar {
    background: #eeeeee;
    border-left: 1px solid #FFF;
    @include single-box-shadow($dark-grey, 0, 0, 12px, -1px);

    overflow: auto;
    position: fixed;
    top: 0; right: 0;
    padding-bottom: lh(3);
    width: 300px; height: 100%;

    .logo {
        background: url(../images/logo.png) no-repeat 0 0;

        position: fixed;
        bottom: lh(.5); right: lh();
        width: 100px; height: 27px;
    }
}