#table {
    border-collapse: collapse;
    border-spacing: 0;

    padding-top: lh(2); // #table-header

    tr {
        &:nth-child(even) {
            th, td {
                background: $light-grey;

                &.locked {
                    background: $error-background;
                }

                &.s-focus {
                    background: $light-grey;
                }
            }
        }
    }


    th, td {
        border-right: 1px solid $grey;
        border-bottom: 1px solid $grey;
        position: relative;
        margin: 0; padding: 0;
        width: 300px; height: lh(2);

        &:last-child {
            border-right: none;
        }
    }

    th {
        background: $grey;
        // border-right: 1px solid $dark-grey;
    }

    td {
        &.locked {
            background: $error-background;
        }

        &.s-focus {
            background: $xlight-grey;
            // @include single-box-shadow($pink, 0,0,0,1px, inset);
            // outline: 1px solid $pink;
            .editor {
                outline: 2px solid $pink;
            }
        }
    }

    thead {
        display: block;
        height: lh(2);

        tr {
            position: fixed;
            top: 0; left: 0;
            height: lh(2);
        }
    }

    .delete_col {
        position: absolute;
        top: lh(.7); right: lh(.5);
    }

    .editor {
        background: transparent;
        border: none;
        line-height: lh(1.5);

        @include box-sizing("border-box");
        margin: 0; padding: lh(.25) lh(.5);
        width: 100%; height: lh(2);
    }
}